* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*** base *******************************************************/
p {
    color:#828282;
    font-weight: 400;
}

h1 {
    color: #F9F9F9;
    font-weight: 700;
}

.titulo {
    text-align: center;
    color: #F9F9F9;
    font-weight: 700;  
}

h3 {
    color: #F9F9F9;
    font-weight: 500;
}

a {
    text-decoration: none;
}

body {
    background-color: #171717;

    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

.container {
    width: 100vw;
    height: 100vh;

    margin: 0 auto;
    padding: 2.18rem 9.37rem;

    font-family:'DM Sans'; 
}

/*** header *******************************************************/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.portfolio {
    font-weight: 700;
    font-size: 1.625rem;

    color: #F9F9F9;
}

.navigation a {
    font-weight: 400;
    font-size: 1.125rem;

    margin-right: 2.81rem;

    color: #F9F9F9;
}

.navigation a:hover {
    color: #AAA;
}

/*** sobre *******************************************************/
section .sides {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 8.9rem;
}

.left_side h1 {
    font-size: 2.25rem;
}

.left_side p {
    margin-top:1.125rem;
    font-weight: 500;
}

.left_side button {
    margin-top:2.18rem;
    border: solid 1px #333333;

    cursor: pointer;
}

.left_side button.download {
    padding: 0.75rem 1.68rem;
    background-color: #00DF5E;
    color: #171717;

    transition: background 0.3s ease;
}

.left_side button.download:hover {
    background-color: rgba(0, 255, 127, 0.85);
    color: #F9F9F9;
}

.left_side button.contato {
    padding: 0.75rem 1.125rem;
    color: #F9F9F9;
    background-color: #171717;

    transition: background 0.3s ease;
}

.left_side button.contato:hover {
    background-color: #F9F9F9;
    color: #171717;
}

.rigth_side img {
    width: 18.75rem;
    height: 15.90rem;
}

.descricao {
    margin-top: 10.56rem;

    text-align: center;
    padding: 0 12.38rem;
}

.descricao p {
    margin-top: 1.875rem;
}

/* *** icons *** */
.icons {
    margin-top: 5.31rem;

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

}
.icons h1 {
    font-size: 1.125rem;
}

.icons p {
    font-size: 1rem;
}

.icon {
    margin-right: 4rem;

}

.icon p, h1 {
/* evitar a quebra de linhas no icons */
    white-space: nowrap;
}

/*** projetos *******************************************************/
section.projetos {
    margin-top: 7.93rem;
}

.projetos .boxes {
    display: flex;
    flex-wrap: wrap;
    
    /* item que contem tudo tem no max 750px, o ideal é que seja a mesma largura nos outro itens do site */
    max-width: 750px;
    
    /* passando dos 800 ele alinha ao centro  */
    margin: 0 auto;
}

.box {
    border: solid 1px #828282;

    /* 3 pode se expandir ao maximo, 1 pode se encolher ao maximo, base sempre de 200px se nao tiver ira quebrar */
    flex: 3 1 200px;
    margin-top: 1.875rem;
    margin-right: 1.81rem;

    padding: 0.875rem 1rem;

    /* fundo entre as bordas */
    background-color: #333333;

    justify-content: space-between;

}

.box img {
    display: block;
    max-width: 100%;
}

.test {
    border: solid 1px #828282;
    margin-bottom: 1.4375rem;

    padding: 1.25rem 1.5rem;

    /* fundo da imagem */
    background-color: #171717;
}

.projeto h2 {
    font-size: 1.125rem;
}

.projeto p {
    font-size: 0.875rem;
}

/*** serviços *******************************************************/
section.servicos {
    margin-top: 7.93rem;
}

.servicos .boxes2 {
    display: flex;
    /* alinhando com o flex>div ele tera no max 200px e era quebrando na tela */
    flex-wrap: wrap;
    
    /* item que contem tudo tem no max 800px, o ideal é que seja a mesma largura nos outro itens do site */
    max-width: 900px;
    
    /* passando dos 800 ele alinha ao centro  */
    margin: 0 auto;
}

.box2 {
    /* 3 pode se expandir ao maximo, 1 pode se encolher ao maximo, base sempre de 200px se nao tiver ira quebrar */
    flex: 3 1 200px;
    margin-top: 1.875rem;
    margin-right: 1.81rem;

    padding: 0.875rem 2rem;
    background-color: #333333;

}
