* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*** base *******************************************************/
p {
    color:#828282;
    font-weight: 400;
}

h1 {
    color: #F9F9F9;
    font-weight: 700;
}

.titulo {
    text-align: center;
    color: #F9F9F9;
    font-weight: 700;  
}

h3 {
    color: #F9F9F9;
    font-weight: 500;
}

a {
    text-decoration: none;
}

body {
    background-color: #171717;
    font-family:'DM Sans';
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

.container {
    width: 100vw;
    min-height: 100vh;

    margin: 0 auto;
    padding: 2.18rem 9.37rem;

}

/*** header *******************************************************/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.portfolio {
    font-weight: 700;
    font-size: 1.625rem;

    color: #F9F9F9;
}

.navigation a {
    font-weight: 400;
    font-size: 1.125rem;

    margin-right: 2.81rem;

    color: #F9F9F9;
}

.navigation a:hover {
    color: #AAA;
}

/*** sobre *******************************************************/
section .sides {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 8.9rem;
}

.left_side h1 {
    font-size: 2.25rem;
}

.left_side p {
    margin-top:1.125rem;
    font-weight: 500;
}

.left_side button {
    margin-top:2.18rem;
    border: solid 1px #333333;

    cursor: pointer;
}

.left_side button.download {
    padding: 0.75rem 1.68rem;
    background-color: #00DF5E;
    color: #171717;

    transition: background 0.3s ease;
}

.left_side button.download:hover {
    background-color: rgba(0, 255, 127, 0.85);
    color: #F9F9F9;
}

.left_side button.contato {
    padding: 0.75rem 1.125rem;
    color: #F9F9F9;
    background-color: #171717;

    transition: background 0.3s ease;
}

.left_side button.contato:hover {
    background-color: #F9F9F9;
    color: #171717;
}

.rigth_side img {
    width: 18.75rem;
    height: 15.90rem;
}

.descricao {
    margin-top: 10.56rem;

    text-align: center;
    padding: 0 12.38rem;
}

.descricao p {
    margin-top: 1.875rem;
}

/* *** icons *** */
.icons {
    margin-top: 5.31rem;

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    /* para 3 icones */
    margin-left: 4rem;

}
.icons h1 {
    font-size: 1.125rem;
}

.icons p {
    font-size: 1rem;
}

.icon {
    margin-right: 4rem;

}

.icon p, h1 {
/* evitar a quebra de linhas no icons */
    white-space: nowrap;
}

.iconmoons {
    display: flex;
    flex-direction: column;

    position: fixed;
    left: 2rem;
    bottom: 14rem;

    font-size: 1rem;

}

.iconmoon {
    color: #00DF5E;
    margin-top: 2rem;
}


/*** projetos *******************************************************/
section.projetos {
    margin-top: 7.93rem;
}

.projetos .projectBoxes {
    display: flex;
    flex-wrap: wrap;
    
    /* item que contem tudo tem no max 750px, o ideal é que seja a mesma largura nos outro itens do site */
    max-width: 750px;
    
    /* passando dos 800 ele alinha ao centro  */
    margin: 0 auto;
}

.projectBox {
    border: solid 1px #333333;

    /* 3 pode se expandir ao maximo, 1 pode se encolher ao maximo, base sempre de 200px se nao tiver ira quebrar */
    flex: 3 1 200px;
    margin-top: 1.875rem;
    margin-right: 1.81rem;

    padding: 0.875rem 1rem;

    /* fundo entre as bordas */
    background-color: #212121;

    justify-content: space-between;
    
    transition: transform 100ms ease-in-out;
}

.projectBox:hover {
    transform: scale(1.05);
}

.projectBox .containerBox img {
    display: block;
    max-width: 100%;
}

.projectBox .containerBox {
    border: solid 1px #333333;
    margin-bottom: 1.4375rem;
   
    max-width: 12rem;
    max-height: 30rem;

    padding: 0.5rem 0.5rem;

    /* fundo da imagem */
    background-color: #171717;
}

.projeto h2 {
    font-size: 1.125rem;
}

.projeto p {
    font-size: 0.875rem;
}

/*** serviços *******************************************************/
section.servicos {
    margin-top: 7.93rem;
}

.servicos .servicesBoxes {
    display: flex;
    /* alinhando com o flex>div ele tera no max 200px e era quebrando na tela */
    
    /* item que contem tudo tem no max 720px, o ideal é que seja a mesma largura nos outro itens do site */
    max-width: 750px;
    
    /* passando dos 800 ele alinha ao centro  */
    margin: 0 auto;
}

.servicesBox {
    /* 3 pode se expandir ao maximo, 1 pode se encolher ao maximo, base sempre de 200px se nao tiver ira quebrar */
    flex: 3 1 200px;
    margin-top: 1.875rem;
    margin-right: 1.81rem;

    padding: 0.875rem 1rem;
    background-color: #212121;

    transition: color 0.2s;
    position: relative;

    border-radius: 0 0 4px 4px;
}

/* linhas no card serviços */
.servicesBox::after {
    content: '';
    width: 0%;
    height: 3px;
    background: #00DF5E;

    position: absolute;
    left: 0;
    bottom: -0.1rem;

    transition: width 0.2s;

    border-radius: 0 0 5px 5px;
}
/* linhas no card serviços */
.servicesBox:hover::after {
    width: 100%;
}

.servicesBox img {
    display: block;
    max-width: 100%;

    margin-top: 1rem;
}

.servicesBox .containerBox {
    margin-bottom: 3rem;
}

.servicesBox p {
    font-weight: 500;
    font-size: 1.5rem;

    white-space: pre-line;

    margin-bottom: 1rem;
}

/*** skills *******************************************************/
section.skills {
    margin-top: 7.93rem;
}

.skillsBoxes {
    display: flex;
    /* alinhando com o flex>div ele tera no max 200px e era quebrando na tela */
    
    /* item que contem tudo tem no max 720px, o ideal é que seja a mesma largura nos outro itens do site */
    max-width: 720px;
    
    /* passando dos 800 ele alinha ao centro  */
    margin: 0 auto;
}

.skillBox {
    flex: 1 1 200px;
    margin-top: 1.875rem;
    margin-right: 1.81rem;

    padding: 1.875rem 1.5rem;
    background-color: #212121;

    /* centralizar o texto na div */
    display: flex;
    align-items: center;
    justify-content: center;

    border: solid 1px #333333;
}

.skillBox img {
    display: block;
    max-width: 100%;
}

/*** footer *******************************************************/
footer .content {
    margin-top: 11.56rem;

    /* centralizar o texto na div */
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #333333;

    height: 2.75rem;

}

.back-to-top {
    color: #F9F9F9;
    position: fixed;
    right: 3rem;
    bottom: 1rem;

    visibility: hidden;
    opacity: 0;

    font-size: 1.5rem;
    line-height: 0;

    transition: 0.3s;
}

.back-to-top.show {
    visibility: visible;
    opacity: 1;
}

footer .content p {
    color: #F9F9F9;
    font-weight: 700;
}

footer .content span {
    color: #00DF5E;
}

@media screen and (min-width:1200px) {
    .container {
        max-width: 1350px;
        margin-left: auto;
        margin-right: auto;
    }
    
    footer .back-to-top {
        position: fixed;
        right: 7rem;
        bottom: 1rem;
    }

}

@media screen and (min-width: 1900px){
    .iconmoons {
        left: 10rem;
        bottom: 33rem;
    }

}